body {
    margin: 0%;
    padding: 0%;
    background-color: red;
    color:red
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10vw;
    row-gap: 2vw;
  }
  label{
    color: white;
  }
  .form-parent p {
    color: white;
  }
  #head{
    color:white;
  }  
  #not-data{
    color: white;
    font-size: 3vw;
  }
  
  .book-item {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 10vw;
    border: 0.2vw solid #ddd; 
    height: 75vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw; 
  }
  
  /* Style for each book title */
  #title {
    font-weight: bold;
  }
  
  /* Style for the book image */
  #flex img {
    border-radius: 0.5vw; 
  }
  
  .book-item span {
    display: block;
    margin-top: 1vw;
  }
  
  /* Style for the "Free" text */
  .book-item  p{
    font-weight: bold;
    color: green;
  }

  .snowballs-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1; /* Ensure the balls are on top of other elements */
  }
  
  .snowballs{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff; /* Ball color */
    border-radius: 50%; /* Make it round */
    animation: fallAnimation linear infinite;
  }
  
  @keyframes fallAnimation {
    to {
      transform: translateY(100vh) rotate(360deg);
    }
  }